nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1 {
    opacity: 1;
    transition: 0.5s ease all;
  }

  button {
    font-size: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid rgb (65, 65, 65);
    padding: 0.5rem;
    transition: all 0.3s ease;

    span {
      padding-right: 0.5rem;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: rgb(65, 65, 65);
        color: white;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .library-active h1 {
    opacity: 0;
  }
  nav {
    button {
      z-index: 15;
    }
  }
}
